@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #6559a3;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-popover {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-popover-title {
  font-weight: bold;
}

.custom-popover-content-code {
  font-family: monospace;
}

#marker {
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: #0ff;
  opacity: 0.5;
}

* #map {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.layer-switcher {
  max-width: 300px;
  color: black;
}

.mousePosition {
  position: fixed;
  top: auto;
  right: auto;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border: 1px solid #454545;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

/* popup info style */
.ol-popup {
  position: absolute;
  background-color: #b8cffb;
  opacity: 0.9;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "\00d7";
}

.myButtonImage {
  width: 20px;
  height: 20px;
  filter: brightness(0);
  vertical-align: middle;
}

.myButton {
  background-color: rgba(255, 179, 186, 0.6);
  color: black;
  font-weight: 700;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  border: none;
  /* align-items: center; */
  display: grid;
  /* grid-template-rows: auto; */
  place-items: center;
}

.myButton:hover {
  background-color: rgba(186, 225, 225, 0.8);
}

.myButton.clicked {
  background-color: rgba(186, 255, 201, 0.8);
}

.myButton.clicked:hover {
  background-color: rgba(186, 225, 225, 1);
}

.homeButtonDiv,
.fsButtonDiv,
.featureInfoButtonDiv,
.lengthButtonDiv,
.areaButtonDiv,
.ziButtonDiv,
.zoButtonDiv {
  display: inline-block;
  margin: 10px auto auto 10px;
}

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
}

.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.ol-tooltip-static {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.9);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -6px;
  left: 50%;
}

.ol-tooltip-static:before {
  border-top-color: #ffcc33;
}
.ol-dragbox {
  border: 2px dashed grey;
  background-color: rgba(200, 200, 200, 0.6);
}

.qryButtonDiv {
  display: inline-block;
  margin: 2px auto auto 10px;
}

.attQueryDiv {
  top: 60px;
  left: 10px;
  position: absolute;
  display: none;
  margin: 70px auto auto 45px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  border-radius: 2px;
  border: 1px solid #d1d1d1;
  box-shadow: 0px 0px 15px rgba(252, 213, 213, 0.5);
}

#headerDiv {
  background-color: #355070;
  height: 35px;
}
#headerDiv label {
  color: white;
}

.attQueryDiv select {
  width: 225px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 0px auto 0px 10px;
}

.attQueryDiv input {
  width: 225px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 0px auto 8px 10px;
}

.attQueryDiv label {
  color: black;
  margin: 10px 10px 0px 10px;
}

.attQueryDiv label:nth-child(1) {
  margin: 10px;
  font-weight: bold;
}

.attoryRun {
  color: white;
  background-color: green;
  border-radius: 3px;
  border: 1px solid ☐darkgreen;
  height: 35px;
  width: 50px;
  margin: 10px;
}

.attListDiv {
  top: 60px;
  left: 10px;
  position: absolute;
  display: none;
  margin: 350px auto auto 350px;
  width: auto;
  max-width: 750px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  border-radius: 2px;
  border: 1px solid #d1d1d1;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

#attQryTable {
  padding: 0;
  border-collapse: collapse;
}

#attoryTable,
td,
th {
  padding: 0px 5px 0px 5px;
  border: 1px solid black;
}

#attoryTable th {
  color: white;
  background-color: midnightblue;
  position: sticky;
  top: 0;
  font-style: normal;
  padding: 5px 10px 5px 10px;
}
#attoryTable tr:hover {
  background-color: lightgray;
}
